@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
// html,body{
//   display: grid;
//   height: 100%;
//   place-items: center;
//   background: #000;
//   overflow: hidden;
// }
.card{
    margin-top: -170px;
    margin-left: 20px;
    
}

button {
    position: relative;
    height: 60px;
    width: 400px;
    margin: 0 35px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.5s;
    margin-top: 140px;
    margin-left: 1100px;
}
button:first-child{
  background: linear-gradient(90deg, #03a9f4, #f441a5, #3b80ff, #03a9f4);
  background-size: 400%;
}
button:last-child{
  background: linear-gradient(90deg, #fa7199, #6c62f5, #7703e4, #fa7199);
  background-size: 400%;
}
button:first-child:before,
button:last-child:before{
  content: '';
  position: absolute;
  background: inherit;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 50px;
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.5s;
}
button:first-child:before,
button:last-child:before{
  opacity: 1;
  z-index: -1;
}
button{
  z-index: 1;
  animation: glow 8s linear infinite;
}
@keyframes glow {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}

.card-text:last-child {
    margin-bottom: 0;
    width: 580px;
    text-align: justify;
}
#neon {
    color: rgb(231, 143, 84);
    font-family: cursive;
    text-shadow:
      0 0 5px rgb(167, 78, 26),
      0 0 10px rgb(185, 74, 9),
      0 0 20px rgb(251, 255, 0),
      0 0 40px rgb(251, 255, 0),
      0 0 80px rgb(251, 255, 0),
      0 0 90px rgb(251, 255, 0),
      0 0 100px rgb(251, 255, 0),
      0 0 150px rgb(251, 255, 0);
  }
  #ne{
    color: rgba(255, 255, 255, 0.829);
 
  }
  

 
  /*******************/
 
// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

* {
  box-sizing: border-box;
}



a {
  text-decoration: none;
}

h1 {
  font-family: $open-sans;
  font-weight: 300;
}



// Base styles
.card {
  
  width: 30%;
  margin-top: 100px;
  .menu-content {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
    }
    a {
      color: $white;
    }
    span {
      position: absolute;
      left: 50%;
      top: 0;
      font-size: 10px;
      font-weight: 700;
      font-family: 'Open Sans';
      transform: translate(-50%, 0);
    }
  }
  .wrapper {
    background-color: $white;
    min-height: 540px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
    &:hover {
      .data {
        transform: translateY(0);
      }
    }
  }
  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
  .author {
    font-size: 12px;
  }
  .title {
    margin-top: 10px;
  }
  .text {
    height: 70px;
    margin: 0;
  }
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + .menu-content {
    transform: translateY(-60px);
  }
}


// Second example styles
.example-2 {
  .wrapper {
    background: url(https://www.speedcamera-alert.com.au/v/vspfiles/assets/images/UBER%20DRIVERS%20-%20Protect%20your%20License%20with%20TRAPTAP.jpg) center / cover no-repeat;
    &:hover {
      .menu-content {
        span {
          transform: translate(-50%, -10px);
          opacity: 1;
        }
      }
    }
  }
  .header {
    @include cf;
    color: $white;
    padding: 1em;
    .date {
      float: left;
      font-size: 12px;
    }
  }
  .menu-content {
    float: right;
    li {
      margin: 0 5px;
      position: relative;
    }
    span {
      transition: all 0.3s;
      opacity: 0;
    }
  }
  .data {
    color: $white;
    transform: translateY(calc(70px + 4em));
  }
  .title {
    a {
      color: $white;
    }
  }
  .button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: $white;
    line-height: 1;
    position: relative;
    font-weight: 700;
    &::after {
      content: '\2192';
      opacity: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      transition: all 0.3s;
    }
    &:hover {
      &::after {
        transform: translate(5px, -50%);
        opacity: 1;
      }
    }
  }
}


.example-3 {
  .wrapper {
    background: url(https://image.freepik.com/free-photo/man-car-trip_23-2147935781.jpg) center / cover no-repeat;
    &:hover {
      .menu-content {
        span {
          transform: translate(-50%, -10px);
          opacity: 1;
        }
      }
    }
  }
  .header {
    @include cf;
    color: $white;
    padding: 1em;
    .date {
      float: left;
      font-size: 12px;
    }
  }
  .menu-content {
    float: right;
    li {
      margin: 0 5px;
      position: relative;
    }
    span {
      transition: all 0.3s;
      opacity: 0;
    }
  }
  .data {
    color: $white;
    transform: translateY(calc(70px + 4em));
  }
  .title {
    a {
      color: $white;
    }
  }
  .button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: $white;
    line-height: 1;
    position: relative;
    font-weight: 700;
    &::after {
      content: '\2192';
      opacity: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      transition: all 0.3s;
    }
    &:hover {
      &::after {
        transform: translate(5px, -50%);
        opacity: 1;
      }
    }
  }
}




html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: aliceblue;
}

.slideshow {
  position: relative;
  display: block;
  width: 1000px;
  height: 500px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slideshow > * {
  position: absolute;
  display: block;
  top: 0; right: 0; bottom: 0; left: 0;
  padding: 0;
  background-color: #000;
  transform: translateX(100%);
  animation: anim 20s linear infinite;
}

@keyframes anim {
  10%, 20% { transform: translateX(0); }
  30% { transform: translateX(-100%); }
  31%, 100% { transform: translateX(100%); z-index: -1 }
}

.slideshow > :nth-child(2) {
  animation-delay: 4s;
}
.slideshow > :nth-child(3) {
  animation-delay: 8s;
}
.slideshow > :nth-child(4) {
  animation-delay: 12s;
}
.slideshow > :nth-child(5) {
  animation-delay: 16s;
}





.wrappers {
  margin: 5em auto;
  max-width: 1000px;

  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
}

.header {
  padding: 30px 30px 0;
  text-align: center;

  &__title {
    margin: 0;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1.1;
  }
  &__subtitle {
    margin: 0;
    font-size: 1.5em;
    // color: $gray;
    font-family: 'Yesteryear', cursive;
    font-weight: 500;
    line-height: 1.1;
  }
}

//Grid Container
.cards {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
}


 
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: transparent;
    border-radius: 0.25rem;
}
