<div style="background-image: url('https://www.securitymagazine.com/ext/resources/Default-images/Responsive-Defaults/car-1149997_1920.jpg?1555446936'); background-repeat: no-repeat; background-size: cover; height: 100vh;width:100vw; position: relative; "></div>
 <div>
   <!--carpooling and click to login-->

  <h1 style="position: relative;;font-size:80px; color:rgb(23, 88, 185);margin-top: -600px; text-align: center;font-family: math;
  letter-spacing: 25px;
  font-weight: 900;">Carpooling</h1>
  <div class="buttons">
    
    <button style="margin-top: 430px; margin-left:610px" type="submit" routerLink="/home">Click to Login</button>
  </div> 
 </div>
  <!-- <div class="buttons">
    
    <button style="margin-top: 656px; margin-left:610px">Click to Login</button>
  </div> -->
 
  <!-- <h1>
    Why use Fi-Thneyti?</h1><br/><br/> <br/><br/>
    <p style="text-align: justify; font-size:large; margin-top:-15%; font-weight:2px"><br/>
      It's a fast, user-friendly and affordable way to get around.<br/><br/>
      Ridesharing already existed, but offers a whole new way to share your trips and travel costs.<br/><br/>
      An economical alternative to traditional carpooling services, Fi-Thneyti allows you to carpool with people who are already going in the same direction as you.<br/><br/>
      Are you a driver? Submit the free spaces for your car on Fi-Thneyti app.<br/><br/>
      Are you a passenger? Use Fi-Thneyti Carpool app to find drivers on your route.
    </p> -->
    <div style="margin-left: 180px; width:130%; margin-top: 50px;" class="row">
  
      <div  class="example-2 card">
  
        <div class="wrapper">
          <div class="data">
            <div class="content">
              <h1 style="font-size:40px; text-align:center" class="title"><a href="#">Are you a Driver?</a></h1>
    
              <div style="font-size: 25px; background-color: rgba(0, 0, 0, 0.158); border:0%">
              <p style="height: 60px;font-size: 25px;" class="text">Submit the free spaces for your car on our Carpooling app.</p>
              <a style="font-size: 15px;" href="#" class="button">Read more</a>
            </div></div>
          </div>
        </div>
      </div>
      <div  class="example-3 card">
        <div class="wrapper">
          <div class="data">
            <div class="content">
              <h1 style="font-size:40px; text-align:center" class="title"><a href="#">Are you a Passenger?</a></h1>
              <div  style="font-size: 30px; background-color: rgba(0, 0, 0, 0.158); border:0%">
              <p style="height: 60px;font-size: 25px;" class="text">Use Carpooling app to find drivers on your route.</p>
              <a style="font-size: 15px;" href="#" class="button">Read more</a>
            </div></div>
          </div>
        </div>
      </div>
    </div>

<div style="margin-top: 200px;margin-left: 300px;">
  <ul class="slideshow">
    <li><img src="../../../assets/car1.jpg" alt="" width="1000" height="500" /></li>
    <li><img src="../../../assets/car2.jpg" alt="" width="1000" height="500" /></li>
    <li><img src="../../../assets/car3.jpg" alt="" width="1000" height="500" /></li>
    <li><img src="../../../assets/car4.jpg" alt="" width="1000" height="500" /></li>
  </ul>
</div>
    
<div>
  <div class="wrappers">
    <div class="cards">
  
      <div class=" card [ is-collapsed ] ">
        <div class="card__inner [ js-expander ]">
          <span style="color:Blue; font-size:18px">Convenient</span>
          <i class="fa fa-folder-o"></i>
        </div>
        <div class="card__expander">
          <i class="fa fa-close [ js-collapser ]"></i>
          <span>Quickly find a carpool nearby among the millions of routes offered.</span>
        </div>
      </div>
  
      <div style="margin-left:10px" class=" card [ is-collapsed ] ">
        <div class="card__inner [ js-expander ]">
          <span style="color:Blue; font-size:18px">Easy</span>
          <i class="fa fa-folder-o"></i>
        </div>
        <div class="card__expander">
          <i class="fa fa-close [ js-collapser ]"></i>
          <span>Find the perfect ride! All you need to do is enter your exact address, choose, and book.</span>
        </div>
      </div>
  
      <div style="margin-left:50px" class=" card [ is-collapsed ] ">
        <div class="card__inner [ js-expander ]">
          <span style="color:Blue; font-size:18px;">Direct</span>
          <i class="fa fa-folder-o"></i>
        </div>
        <div class="card__expander">
          <i class="fa fa-close [ js-collapser ]"></i>
<span>you plan ahead or book last minute, you'll always find a great rate.</span> 
        </div>
      </div>
</div>

  <div>
    <img style="margin-top: 100px; height:500px; margin-left: 200px;" src="../../../assets/basma.PNG" />
  </div>
  
    
  <body>

